#prevent_error_dont_delete{
    font-family: verdana;
}

body{
    min-width: 300px;


    }
    
.print-header{
    display: none;
}
header{

    background: #0066ff;
    padding: 1px;
    width: 100% !important;
}


header .logo{display: inline-block;max-width: 100px;}
header  .title{display: inline-block;max-width: 300px;}

header .logo img{margin: 5px;width: 80%;max-width: 50px;}

/* ------------------------------------------ */


.navbar-coloftech {
    background-color:#0000FF;
    color:#ffffff;
    border-radius:0;
}

.navbar-coloftech .navbar-nav > li > a {
    color:#fff;
}

.navbar-coloftech .navbar-nav > .active > a {
    color: #ffffff;
    background-color:transparent;
}

.navbar-coloftech .navbar-nav > li > a:hover,
.navbar-coloftech .navbar-nav > li > a:focus,
.navbar-coloftech .navbar-nav > .active > a:hover,
.navbar-coloftech .navbar-nav > .active > a:focus,
.navbar-coloftech .navbar-nav > .open >a {
    text-decoration: none;
    background-color: #6495ED;
}

.navbar-coloftech .navbar-brand {
    color:#eeeeee;
}
.navbar-coloftech .navbar-toggle {
    background-color:#eeeeee;
}
.navbar-coloftech .icon-bar {
    background-color:#33aa33;
}


/* for dropdowns only */
.navbar-coloftech .navbar-nav .dropdown-menu  { 
  background-color: #33aa33;
}
.navbar-coloftech .navbar-nav .dropdown-menu>li>a  { 
  color: #fff;
}
.navbar-coloftech .navbar-nav .dropdown-menu>li>a:hover,.navbar-coloftech .navbar-nav .dropdown-menu>li>a:focus  { 
  color: #33aa33;
}



/* ------------------------------------------ */


.body{

    padding-bottom: 100px;
    background-image: url(../public/images/bw.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100% !important;


}
.body > .container{
    padding-top: 20px;
    padding-bottom: 50px;
    background-color: #fff;
}
.body > .container >.content{


}
.body > .container >.content a{
    color: #0000FF;
    text-decoration: none;
}
.body > .container >.content a:hover{
    color: #6495ED;
    text-decoration: none;
}
.body > .container >.sidebar{

}
.body > .container >.sidebar a{
    color: dodgerblue;
    text-decoration: none;
}

.body > .container >.sidebar .title{
    background-color: #0000FF;
    height: 50px;
    color: #fff;
    padding: 5px;
    font-weight: bolder;
}
.body > .container >.sidebar a:hover{
    color: green;
    text-decoration: none;
}
.body > .container >.sidebar ul{
    margin: 0;
    padding: 0

}
.body > .container >.sidebar ul li{
    margin-left: 10px;
}
.body > .container .panel.post-latest{
    min-height: 200px;
}

.body > .container .panel.post-latest:hover{
    border: solid 1px #1E90FF;
}

.body > .container .panel.post-latest:hover > .panel-heading{
   /*  background-color: #00BFFF; */
   background-color: #ADD8E6;
   padding: 12px 15px;
}

.body > .container .panel.post-latest:hover > .panel-heading .go{
   /*  background-color: #00BFFF; */
   display: inline-block;
}
.body > .container .panel.post-latest > .panel-heading .go{
   /*  background-color: #00BFFF; */
   display: none;
}
/* ------------------------------------------ */


@media only screen and (max-device-width: 768px) {

header .logo{display: inline-block;max-width: 100px;}
header  .title{display: inline-block;max-width: 300px;}
header #navbarCollapse{position: absolute;z-index: 9999;display: block;}

.body > .container >.sidebar{
    padding-top: 50px;
}
.divider{
    display: block;
    height: 50px;
    padding:5px;
}

}
