html{
	background-color: rgba(0,0,0,.80);
}
body{
	background-color: #fff;
	min-height: 100vh;
}
.container.u-profile .row{
	margin-bottom: 2px;
}
.container .divider-10{
	min-height: 10px;
}
.container .divider-20{
	min-height: 20px;
}
.container .divider-50{
	min-height: 50px;
}
.container .form-control{
	border-color: #568793;
}
.container .form .btn{
	border-color: #568793;

}
.container .form-control:focus{
	border-color: magenta;
}
.container .form .btn:hover{

}
.home-title{
	background: green;
}
.home-title a{
	text-decoration: none;
}
.home-title .header-title a > h4{
padding:1px 11px;font-size: 30px;color: #fff;
text-decoration: none;
}
.permit-group{
	padding: 2px;
	min-height: 100px;
}
.permit-group > .item{
	padding: 20px;
	background-color: dodgerblue;
	color: #fff;
	min-height: 125px;
}
.navbar-form{
	display: inline-block;
}
.navbar-inverse{

    background: #027709; 
    border: none;
}
.about ul{list-style: none;}
.about ul > li{list-style: none;margin-bottom: 10px;}
.about ul > li >a{text-decoration: none;}
.navbar-brand{margin:0;padding: 0;}
.navbar-brand h4{}
.navbar-brand img{padding: 5px;}
.nav{height: 50px;}
.nav >li >a,.nav >li >a:link{
	font-size: 16px;color: #fff;
}

.read{

}
.read .desc{
	margin-left: 150px;
}


.box{
	height: 90px ;
	background-color: #fff;
	padding: 2px;
}


.box .box-content{
	height: 90px ;
	width: 100%;
	padding-top: 10%;
	background-color: #e4e4e4;
	text-align: center;
}

.box .box-type{

	height: 90px ;
	width: 100%;
	background-color: green;
	padding: 9%;
	font-size: 4vh;
	color: #fff;
	text-align: center;
	display: none;
}
.box:hover .box-content {
	display: none;
}

.box:hover .box-type {
	display: inline-block;
}

.box .box-content:hover{

	background-color: green;
	color: #fff;
}
.box .box-content:hover a{color: #fff;}

.table{

}
.table .search-title{

}
.table .search-desc{

}
.table .search-type{

	max-width:50px;
}
.table .search-action{
	max-width:80px;text-align:right;
}

.search-form .search-input{
		width: 90% !important;
		max-width: 90%;
	}
.search-form .btn{display: inline-block;}
.loader {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
     border-top: 10px solid lime;
 	border-bottom: 10px solid lime;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@media only screen and (max-width: 768px) {
    #search-logo > a > img {
    	margin-top: 0px;
    	max-height: 50px;
    	width: 150px;
	}	
	html,body{
		min-width: 325px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	
	#search-top-menu >.bisu-logo > div.menus a{
		padding: 5px;
	}
	
	.search-sidebar{
		display: none;
	}
	.navbar-form{
		margin: 3%;
	}
	.inbox-right{
		display: none;
	}
.search-form .search-input{
		width: 90% !important;
		max-width: 90%;
		min-width: 255px;
		display: inline-block;
	}
.search-form .btn{display: inline-block;}
}
@media only screen and (max-width: 568px) {

	#search-top-menu >.bisu-logo > div.menus a span{
		display: none;
	}
	#search-top-menu >.bisu-logo > div.menus a{
		padding: 10px;
	}
	.table .search-type{
	display: none;
	}

}
@media only screen and (max-width: 468px) {

	#search-top-menu >.bisu-logo > div.menus a{
		padding: 5px;
	}
}
